<main>
    <div class="navbar custom-brown">
        <div class="navbar-brand">
            <div class="nav-badge px-3 lrg-font">My Dashboard</div>
        </div>
    </div>
</main>
<section class="container-fluid py-5">
    <div class="row justify-content-center">
        {{#each posts as |post| }}
        <div class="col-10 pb-2">
            <a href="/post_edit/{{post.id}}"><div class="custom-gray-bg custom-gray radius sml-font p-3">{{post.title}}<span class="float-r">{{format_date post.date_created}}</span></div></a>
        </div>
        {{/each}}
    </div>
</section>
<div class="container-fluid custom-grn-bg text-center pb-3">
    <div class="row align-items-end">
        <div>
            <button type="button" class="btn btn-lg custom-brown custom-green med-font radius15" id="new-post">+ New Post</button>
        </div>
    </div>
</div>

<script src="/js/gotopost.js"></script>