<main>
    <div class="navbar custom-brown">
        <div class="navbar-brand">
            <div class="nav-badge px-3 lrg-font">My Dashboard</div>
        </div>
    </div>
</main>
<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="brown-border mt-5">
                    <h2 class="custom-brown custom-green strong-text h2-padding sml-font">Edit Post</h2>
                    <form class="mb-3 px-4">
                        <label for="inputPostTitle" class="form-label fs-4">Title:</label>
                        <input type="text" id="inputPostTitle" class="form-control mb-3 blue-border" value={{post.title}}>
                        <label for="inputEdit" class="form-label fs-4">Content:</label>
                        <textarea class="form-control px-4 blue-border" id="inputEdit" rows="5" >{{post.entry}}</textarea>
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-secondary btn-lg" id="edit-button">Update Post</button>
                            <button class="btn btn-secondary btn-lg" id="delete-button">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
