<main>
    <div class="navbar custom-brown">
        <div class="navbar-brand">
            <div class="nav-badge px-3 lrg-font">The Tech Blog</div>
        </div>
    </div>
</main>
<section  class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="brown-border mt-5">
                <h2 class="custom-brown custom-green strong-text sml-font h2-padding">Sign Up</h2>
                <form>
                    <div class="mb-3 mx-3">
                        <label for="userNameSignUp" class="form-label form-label-text">Username</label>
                        <input type="email" class="form-control form-control-lg" id="userNameSignUp"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 mx-3">
                        <label for="passwordSignUp" class="form-label form-label-text">Password</label>
                        <input type="email" class="form-control form-control-lg" id="passwordSignUp"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="d-grid gap-2 mx-3 mb-3">
                        <button class="btn btn-secondary btn-lg">Submit</button>
                    </div>
                    <div class="mx-3 mb-3">
                        <a href="/login">Login instead</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>